In [1]:
import pandas as pd
pd.__version__

'0.22.0'

In [2]:
df = pd.read_csv("05_03_18.csv", sep=",")
df.describe()

                 ID  % USED SPACE
count  8.857800e+04  88578.000000
mean   2.625103e+07      0.136941
std    2.224500e+07      2.615448
min    2.000000e+00      0.000000
25%    6.211488e+06      0.000000
50%    1.818310e+07      0.000000
75%    4.577433e+07      0.000000
max    7.117907e+07    100.000000

In [3]:
df.head()

,ID,ID COMPL,NOME,E-MAIL,STATUS,ULTIMO LOGIN,QUOTA,USED SPACE,% USED SPACE
0,2,#perm!terra,Teste de API2,teste@teste.com.br,CANCELADO,NaN,2 TB,0 B,0.0
1,8,#perm!terra,TESTE 8 ALTERADO,luiz.carvalho.alterado@adtsys.com.br,CADASTRADO,NaN,10 GB,0 B,0.0
2,373,#perm!terra,José Soares Da Cunha Neto,276288@terra.com.br,CANCELADO,NaN,60 GB,0 B,0.0
3,532,#perm!terra,Richard Cerchiari,4x4@terra.com.br,CADASTRADO,NaN,10 GB,0 B,0.0
4,1848,#perm!terra,Jayme Leite de Sa,121486@terra.com.br,CADASTRADO,NaN,100 GB,0 B,0.0

In [4]:
df = df.drop(['ID COMPL'], axis=1)

In [5]:
df.head()

,ID,NOME,E-MAIL,STATUS,ULTIMO LOGIN,QUOTA,USED SPACE,% USED SPACE
0,2,Teste de API2,teste@teste.com.br,CANCELADO,NaN,2 TB,0 B,0.0
1,8,TESTE 8 ALTERADO,luiz.carvalho.alterado@adtsys.com.br,CADASTRADO,NaN,10 GB,0 B,0.0
2,373,José Soares Da Cunha Neto,276288@terra.com.br,CANCELADO,NaN,60 GB,0 B,0.0
3,532,Richard Cerchiari,4x4@terra.com.br,CADASTRADO,NaN,10 GB,0 B,0.0
4,1848,Jayme Leite de Sa,121486@terra.com.br,CADASTRADO,NaN,100 GB,0 B,0.0

In [6]:
df.count()

ID              88578
NOME            88578
E-MAIL          88578
STATUS          88578
ULTIMO LOGIN     2077
QUOTA           88578
USED SPACE      88578
% USED SPACE    88578
dtype: int64

In [7]:
df.size

708624

In [8]:
df_logged = df.dropna(axis=0, how='any')
df_logged.head()

,ID,NOME,E-MAIL,STATUS,ULTIMO LOGIN,QUOTA,USED SPACE,% USED SPACE
21,16913,Maria Alves Martins Andreo Alledo,aledo@terra.com.br,CANCELADO,2018-01-08 20:49:29.0,10 GB,0 B,0.0
55,38268,Bernardo Hideki Endo,bhendo@terra.com.br,ATIVO,2016-04-13 17:01:11.0,10 GB,0 B,0.0
62,43047,Andre Mauricio Marquardt,amm1@terra.com.br,ATIVO,2017-09-26 19:34:59.0,10 GB,51.2 MB,0.0
78,54156,Margot Virginia Silveira de Souza,cart@terra.com.br,ATIVO,2016-09-13 23:07:47.0,60 GB,0 B,0.0
121,85598,Alexandre Magno Ferreira e Souza,bbzaa698@terra.com.br,ATIVO,2018-02-12 23:23:49.0,10 GB,39.2 MB,0.0

In [9]:
df_logged[0:1]

,ID,NOME,E-MAIL,STATUS,ULTIMO LOGIN,QUOTA,USED SPACE,% USED SPACE
21,16913,Maria Alves Martins Andreo Alledo,aledo@terra.com.br,CANCELADO,2018-01-08 20:49:29.0,10 GB,0 B,0.0

In [22]:
df['CADASTRADO'] = df['STATUS'].apply(lambda status: status.startswith("CADA") or status.startswith("ATI"))
df[df['STATUS'] == "ATIVO"].shape
#df[df['STATUS'] == "CADASTRADO"].shape

(2396, 9)

In [11]:
df.count()

ID              88578
NOME            88578
E-MAIL          88578
STATUS          88578
ULTIMO LOGIN     2077
QUOTA           88578
USED SPACE      88578
% USED SPACE    88578
CADASTRADO      88578
dtype: int64